@import '../../../assets/styles/variables';

$desktop-line-height: 45px;
$mobile-line-height: 26px;

@mixin textarea-placeholder($textColor, $line-height) {
  &::-webkit-input-placeholder {
    color: $textColor;
    line-height: $line-height;
  }
  &::-moz-placeholder {
    color: $textColor;
    line-height: $line-height;
  }
  &:-ms-input-placeholder {
    color: $textColor;
    line-height: $line-height;
  }
  &::-ms-input-placeholder {
    color: $textColor;
    line-height: $line-height;
  }
  &::placeholder {
    color: $textColor;
    line-height: $line-height;
  }
}

.chat-input-container {
  border-top: 1px solid $blue-50;
  background-color: $white;
  width: 100%;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 25px 14px;

  @media (max-width: 800px) {
    height: 48px;
    padding: 3px 0;
  }
}

.file-input,
.send-button,
.text-input {
  padding: 0px 10px;

  @media (max-width: 800px) {
    padding: 0px 5px;
  }
}

.text-input {
  width: 100%;
  z-index: 1;

  &__textarea {
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    resize: none;
    overflow: overlay;
    border: 1px solid $white;
    border-radius: 12px;

    &::-webkit-scrollbar {
      width: 0;
    }

    &:focus,
    &:active {
      border: 1px solid $blue-300;
    }

    &_error {
      animation: shake 0.3s ease-in-out;
      border-color: $error;
    }

    @include textarea-placeholder($light-gray, $desktop-line-height);

    @media (max-width: 800px) {
      height: 40px;
      font-size: 14px;

      @include textarea-placeholder($gray, $mobile-line-height);
    }
  }

  @media (max-width: 800px) {
    height: 100%;
  }
}

.file-input {
  &__icon {
    width: 22px;
    height: 24px;

    @media (max-width: 800px) {
      width: 16px;
      height: 17px;
    }
  }
}

.send-button {
  &__icon {
    position: relative;
    left: 3px;
    width: 24px;
    height: 22px;

    @media (max-width: 800px) {
      width: 16px;
      height: 14px;
    }
  }
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  15% {
    margin-left: 0.2rem;
  }
  30% {
    margin-left: -0.2rem;
  }
  45% {
    margin-left: 0rem;
  }
  60% {
    margin-left: 0.2rem;
  }
  75% {
    margin-left: -0.2rem;
  }
  90% {
    margin-left: 0rem;
  }
}

.file-preview-container {
  width: fit-content;
  max-width: 70%;
  padding-top: 10px;
  margin: 0 auto;
  transform: translateY(0);
  max-height: 100px;
  transition: max-height 0.1s linear, transform 0.1s linear;
  position: relative;

  &_hidden {
    max-height: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.2px);
  }
}
