@import '../../../assets/styles/variables';

.captcha {
  width: 100%;
  min-width: 200px;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: space-between;

  @media (max-width: 800px) {
  }

  &__img {
    display: flex;
    justify-content: center;
    width: 48%;
    padding: 10px;
    border: 1px solid $blue-100;
    border-radius: 8px;

    @media (max-width: 800px) {
      padding-left: 0;
    }
  }

  &__stub {
    width: 48%;
  }

  &__input {
    width: 48%;
    min-width: 100px;

    @media (max-width: 800px) {
      width: 48%;
    }
  }

  &__refresh {
    position: absolute;
    left: 100%;
    top: 45%;
    margin-left: 4px;

    @media (max-width: 800px) {
      left: 90%;
    }
  }
}
