@import '../../../assets/styles/variables';

.file-link {
  text-decoration: none;
  color: inherit;
}

.file-message {
  display: flex;
  align-items: center;

  &__icon {
    width: 100%;
    min-width: 32px;
    position: relative;
    bottom: 2px;
    fill: $blue-300;
  }
}
