@import '../../../assets/styles/variables';

.content {
  width: 100%;
  height: calc(100% - $headerHeightSmall);

  overflow: hidden;
  display: contents;
  position: relative;

  @media (min-width: 800px) {
    height: calc(100% - $headerHeight);
    display: flex;
  }
}

.mobile-loader {
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}
