@import '../../../assets/styles/_variables.scss';

.input-field-block {
  display: flex;
  flex-direction: column;
  position: relative;

  &__error-label {
    color: $error;
    display: block;
    position: absolute;
    top: 101%;
    left: 1%;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &_error > input {
    padding-right: 32px;

    &:focus,
    &:active {
      border-color: $error;
    }
    border-color: $error;
  }

  &_error:before {
    content: '';
    background-image: url('../../../assets/images/error-info.png');
    background-size: cover;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 40px;
    right: 5%;
  }
}
