@import '../../../assets/styles/_variables.scss';

.header {
  height: $headerHeightSmall;
  width: 100%;
  padding: 0 4% 0 4%;
  background-color: $white;
  border-bottom: 1px solid $blue-50;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 800px) {
    height: $headerHeight;
    padding: 0 2% 0 2%;
    border-color: $blue-150;
  }

  &__logo {
    width: 64px;
    height: 24px;

    @media (min-width: 800px) {
      width: 84px;
      height: 34px;
    }
  }

  &__avatar {
    width: 36px;
    height: 36px;

    @media (min-width: 800px) {
      width: 48px;
      height: 48px;
    }
  }
}
