@import '../../../assets/styles/variables';

.modal {
  &_open {
    background: blue;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.file-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-content {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: $userMessageBackground;
  padding: 8px;
  border-radius: 8px;
  margin-right: 4px;

  &__icon {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    min-width: 24px;
    height: 36px;
    width: auto;
    cursor: pointer;
  }
}
