@import '../../../assets/styles/_variables.scss';

.button-atom {
  border-radius: 8px;
  border: 0;
  width: 100%;
  height: 56px;

  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  cursor: pointer;
  outline: none;

  border: 1px solid $blue-300;
  color: $blue-300;
  background-color: $white;

  &:hover,
  &:focus {
    background-color: #f3f8ff;
  }

  &:active {
    background-color: #dfecff;
  }

  &:disabled {
    border: 1px solid #d1d1d1;
    color: #d1d1d1;
  }

  @media (max-width: 800px) {
    width: 100%;
    min-width: 130px;
  }

  &_main {
    background-color: $blue-300;
    color: $white;

    &:hover,
    &:focus {
      background-color: $blue-500;
    }
    &:active {
      background-color: $blue-700;
    }
    &:disabled {
      background-color: #d1d1d1;
      color: $white;
    }
  }
}
