@import '../../../assets/styles/_variables.scss';

.button-atom {
  border-radius: 8px;
  border: 0;
  background-color: $blue-100;
  width: 233px;
  height: 56px;
  color: $white;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  outline: none;
  &:hover,
  &:focus {
    background-color: $blue-500;
  }
  &:active {
    background-color: $blue-700;
  }
  &:disabled {
    background-color: #d1d1d1;
  }

  @media (max-width: 800px) {
    width: 100%;
    max-width: 348px;
    min-width: 130px;
  }
}
