@import '../../../assets/styles/variables';

$chatHeaderHeight: 96px;
$scrollBarWidth: 12px;

@mixin scrollbarElements($backgroundColor, $borderRadius, $rightPadding) {
  background: $backgroundColor;
  border-radius: $borderRadius;
  border-right: $rightPadding $ContentBgImgColorWithOpacity10 solid;
  background-clip: padding-box;
  @media (max-width: 800px) {
    border-radius: $scrollBarWidth / 2;
    border-right: $rightPadding / 2;
  }
}

.chat-header {
  width: 100%;
  height: $chatHeaderHeight;
  background: $white;
  border-bottom: 1px solid $blue-50;
  padding: 24px;

  &__name {
    color: $soft-black;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 4px;
  }

  &__last-time {
    color: $gray;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.chat-messages {
  width: 100%;
  height: 100%;
  padding: 24px 0 12px 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  &::-webkit-scrollbar {
    width: $scrollBarWidth;

    @media (max-width: 800px) {
      width: $scrollBarWidth / 2;
    }
  }

  &::-webkit-scrollbar-track {
    @include scrollbarElements(#e1ecfe, $scrollBarWidth, 4px);
  }

  &::-webkit-scrollbar-thumb {
    @include scrollbarElements(#c5daff, $scrollBarWidth, 4px);

    &:hover {
      background-color: $blue-100;
    }
  }
}

.not-selected {
  display: none;
  @media (min-width: 800px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -$headerHeight;
    height: 100%;
    &__text {
      background: rgba(255, 255, 255, 0.5);
      padding: 19px 46px;
      width: max-content;
      border-radius: 32px;
      border: 1px solid $blue-200;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }
  }
}
