@import '../../../assets/styles/_variables.scss';

.m__input-block {
  display: flex;
  flex-direction: column;
  position: relative;

  &_error > input {
    border-color: $error;
  }

  &_error:before {
    content: '';
    background-image: url('../../../assets/images/error-info.png');
    background-size: cover;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 40px;
    left: 321px;
    @media (max-width: 800px) {
      left: 313px;
    }
    @media (max-width: 410px) {
      left: unset;
      right: 5%;
    }
  }

  &_error:after {
    content: 'Something wrong';
    color: $error;
    display: block;
    position: absolute;
    top: 101%;
    left: 1%;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
  }
}
