@import '../../../assets/styles/variables';

.friend {
  display: flex;
  width: 100%;
  padding: 12px 14px 12px 14px;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;

  &__icon {
    width: 48px;
    height: 48px;
  }

  &_selected {
    @media (min-width: 800px) {
      background-color: $blue-300;

      .friend-info__name,
      .friend-info__add-text,
      .friend-info__span {
        color: $white;
      }
      .friend-info__file-icon {
        fill: $white;
      }
    }
  }

  @media (min-width: 800px) {
    padding: 16px 24px 16px 24px;
  }
}

.friend-info {
  width: 90%;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__name {
    color: $soft-black;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  &__add-text {
    color: $gray;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__span {
    color: $blue-200;
    padding-right: 4px;
  }

  &__file-icon {
    width: 14px;
    height: 18px;
    margin-right: 4px;
    margin-left: 1px;
    position: relative;
    bottom: -2px;
    fill: $blue-300;
  }
}
