@import '../../../assets/styles/variables';

.stub {
  height: auto;
  width: 100%;
  position: relative;

  &__input {
    height: 53px;
    width: 100%;
    border: 1px solid $blue-100;
    border-radius: 8px;

    &_loading {
      animation-duration: 1.25s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;

      background: linear-gradient(to right, #f5fcff, #dbf3fa, #e7fdff);
      background-size: 800px 104px;
      position: relative;
    }

    &_error {
      border-color: $error;

      &::after {
        content: 'Something wrong...';
        color: #fb6262;
        display: block;
        position: absolute;
        top: 101%;
        left: 1%;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -450px;
  }
  100% {
    background-position: 350px;
  }
}
