$error: #fb6262;
$success: #00b068;

$blue-50: #d7e6ff;
$blue-100: #b3cdf8;
$blue-150: #88abe3;
$blue-200: #5e93e7;
$blue-300: #5c98f1;
$blue-500: #4583de;
$blue-700: #2c6ac7;

$soft-black: #333333;
$white: #ffffff;
$gray: #949494;
$light-gray: #cacaca;

$userMessageBackground: #e9f2ff;
$ContentBgImgColor: #eff5ff;
$ContentBgImgColorWithOpacity10: rgba(239 245 255 / 0.9);

$fonts: 'Montserrat', Arial, sans-serif;

$headerHeight: 80px;
$headerHeightSmall: 64px;
