@import '../../../assets/styles/variables';

.pop-up-container {
  width: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

  &_show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: unset;
  }
}

.pop-up {
  padding: 15px 10px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  font-weight: 500;
  white-space: pre-line;
  cursor: default;
  box-shadow: 3px 4px 6px rgb(0 0 0 / 50%);

  background-color: $blue-300;

  &_success {
    background-color: $success;
  }

  &_error {
    background-color: $error;
  }

  &__text {
    padding: 0 20px;
  }
}

.close-icon-container {
  position: absolute;
  right: 0;
  top: 0;

  &__svg {
    width: 20px;
    height: 20px;
  }
}
