@import '../../../assets/styles/variables';

.empty-popup {
  display: none;
  @media (min-width: 800px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -$headerHeight;
    height: 100%;
    text-align: center;
    &__text {
      background: rgba(255, 255, 255, 0.5);
      padding: 19px 46px;
      width: max-content;
      border-radius: 32px;
      border: 1px solid $blue-200;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }
  }
}
